body{
    background-color: transparent;
    background:  linear-gradient( 45deg, blue, red );
}
#corpo{
    min-height: 900px;/*altura*/
}
#roda_pe{
    /*border: 1px solid black;/*bordas*/
    min-height: 50px;/*altura*/
    background-color: grey;
    color: white;
}
.list-group-item{
    font-weight: 500;
}