div{
    border: 1px solid #000;
    /*min-height: 80px;autora minima*/
}

#azul{
    border: 1px solid #000;
    min-height: auto;/*autora minima*/
    background-color:blue ;
}
#vermelho{
    border: 1px solid #000;
    min-height: auto;/*autora minima*/
    background-color: red;
}
#navbar_menu{
    background-color: #0AC3F7;
}
#opcao_menu{
    font-weight: 400;
}
ul{
    text-align: justify;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
a:hover{/*hover quando passar o mouse em sima a teg a fica com estes parametros*/
    font-size: 25px;
    color: blue;
}
#preto{
    border: 1px solid #000;
    min-height: 400px;/*autora minima*/
    background-color: #333B5E;
}
#amarelo{
    border: 1px solid #000;
    min-height: 400px;/*autora minima*/
    background-color: yellow;
}
#verde{
    border: 1px solid #000;
    min-height: 150px;/*autora minima*/
    background-color: blue;
}

@media screen and (mar-width: 576px) {/*@media screen and funciona como se fose um if quando o despositivo tiver 576px de largura ira colocar essa formatação*/
    #azul{
        border: 1px solid #000;
        min-height: 60px;/*autora minima*/
        background-color:blue ;
    }
    #vermelho{
        border: 1px solid #000;
        min-height: 45px;/*autora minima*/
        background-color: red;
    }
}